h2 {
	font-size: 10pt;
}

h2:first-line {
	text-decoration: underline;
}

body {
	background: yellow;
	font-family: verdana, aria, serif, "times new roman";
	margin-left: 13px;
}

* {
	margin-top: 0px;
	margin-bottom: 0px;
}

h5 {
	font-style: italic;
	margin-top: 2em;
	font-weight: lighter;
}

p {

}

p.pc1 {
	color: green;
	text-align: center;
	letter-spacing: 1pt;
	margin-top: 5pt;
	margin-bottom: 10pt;
}

p#pi1 {
	line-height: 11pt;
}

p.pc2 {
	color: blue;
	font-style: italic;
	font-size: 9pt;
	margin-bottom: 10pt;
}

ol {
	list-style-type: lower-alpha;
	font-weight: bold;
	margin-left: 30pt;
}

ol ul {
	font-weight: lighter;
	list-style-type: square;
	margin-left: 10pt;
}

blockquote {
	margin-left: 2in;
}

table, th, td {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border: 2pt solid red;
}

th {
	color: red;
	background-color: cyan;
}

a:link {
	color: green;
}

a:visited {
	color: red;
}

a:hover {
	color: red;
	background-color: white;
	font-size: 9pt;
}